html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
footer {
  background-color: #337ab7;
}

footer {
  flex-shrink: 0;
  text-align: center;
  color: lightgray;
}

footer > .container {
  padding: 8px;
}

footer a {  
  color: lightgray;
  font-size: 0.95em;
}

footer a:hover {
  text-decoration: none;
  color: lightblue;
}

.bg-primary,
.btn-primary {
  background-color: #377bb5 !important;
  border: inherit;
}